<h1>Portfolio Items</h1>

<p>
    <a href="/portfolios/new">Create New Item</a>
</p>
<p>
    <%= link_to "Create New Item", new_portfolio_path %>
</p>
<p><%= new_portfolio_path%></p>
<p><%= new_portfolio_url%></p>

<% @portfolio_items.each do |portfolio| %>
    <p><%= portfolio.title%></p>
    <p><%= portfolio.subtitle%></p>
    <p><%= portfolio.body%></p>
    <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>

    <a href="/portfolios/<%= portfolio.id %>/edit">Manual Edit</a>
    <%= link_to "Edit", edit_portfolio_path(portfolio.id) %>
<% end %>